@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

body {
    font-family: 'NanumSquare', sans-serif;
    min-height: 100%;
}

.navbar-inverse {
	background-color: #4e4e4e;
	border-color: #4e4e4e;
}

.carousel-indicators li {
    background-color: #4e4e4e;
}

.carousel-indicators .active {
    border-color: #4e4e4e;
}

.image-box {
   	background-image: url(../images/2.png);
	background-size: cover;
}

.logo {
	text-align: center;
	margin: 20px;
}

.pt-5 {
	padding-top: 50px;
}

.main_content {
	text-align: center;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 150px;
}

.main_content img {
	width: 60%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer_box { 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
	padding: 30px 0;
	text-align: center;
	background-color: #dedede;
}

.login_form {
	text-align: center;
	display:block;
}

.login_form div {
	margin: 20px;
}

.login_form input {
	width: 350px;
	height: 50px;
	display:block;
	margin: 0 auto;
	font-size: 12pt;
}

.login_form .login_form_logo {
	margin: 70px 0px 20px 0px;
}

input[type=password] {
	font-family: 'Malgun gothic', dotum, sans-serif;
} 

::placeholder {
	font-family: 'NanumSquare', sans-serif;
}


.join_form {
	text-align: center;
	display:block;
}

.join_form div {
	margin: 20px;
}

.join_form input {
	width: 350px;
	height: 50px;
	display:block;
	margin: 0 auto;
	font-size: 12pt;
}

.join_form .join_form_logo {
	margin: 70px 0px 20px 0px;
}

.board_title {
	margin: 20px 30px 20px 30px;
	text-align: left;
}

.board_table {
	width: 100%;

	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
    border-collapse: collapse;
}

.board_table thead th {
	padding: 10px;
	text-align: center;
}

.board_table tbody td {
	padding: 10px;
}


.board_cursor, .reply_cursor {
	cursor: pointer
}

.board_cursor:hover {
	background-color: #dedede;

}

.board_content {
	width: 100%;
	margin: 10px 0px 5px 0px;
}

.board_view_table {
	width: 100%;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
    border-collapse: collapse;
}

.board_view_table thead th {
	font-size: 18pt;
	padding: 20px 30px 20px 30px;
	text-align: center;
}

.board_view_table tbody td {
	padding: 10px 30px 10px 30px;
}

.board_view_div_reply {
	width: 100%;
	text-align: left;
	padding: 0px 30px 0px 30px ;
}

.board_view_table_reply {
	width: 100%;
	border-bottom: 1px solid #dedede;
    border-collapse: collapse;
}

.reply_img {
	width: 150px;
	text-align: left;
	vertical-align: top;
	padding: 10px 0px 10px 30px;
}

.reply_img img {
	width: 90px;
}

.reply_content {
	text-align: left;
	vertical-align: middle;
	padding: 30px 30px 10px 0px
}